# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Environment
# =========================
.env

# =========================
# Python cache
# =========================
.pytest_cache/
.mypy_cache/

# =========================
# Build
# =========================
build/
dist/
*.egg-info/

# =========================
# Temporary Media
# =========================
video.*
audio_of_video.*
subtitle_fa.srt
output.*
temp.*

# =========================
# Generated Outputs
# =========================
static/outputs/*
!static/outputs/.gitkeep

# =========================
# Whisper cache 
# =========================
.cache/